.header-title{
    font-size: 18px;
    color: #ff8a35;
}
.ion-color-vendorposlog {
	--ion-color-base: var(--ion-color-vendorposlog);
	--ion-color-base-rgb: var(--ion-color-vendorposlog-rgb);
	--ion-color-contrast: var(--ion-color-vendorposlog-contrast);
	--ion-color-contrast-rgb: var(--ion-color-vendorposlog-contrast-rgb);
	--ion-color-shade: var(--ion-color-vendorposlog-shade);
	--ion-color-tint: var(--ion-color-vendorposlog-tint);
}