.logo-login{
	margin-bottom: 40px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	height: 50px;
	width: 150px;
}
.forgotpass-text{
	color: #ff8a35;
	font-weight: bold;
	text-align: right;
}
.signup-text{
	text-align: center;
}
.a-default{
	color: #ff8a35;
	text-decoration:none;
}
.ion-color-vendorposlog {
	--ion-color-base: var(--ion-color-vendorposlog);
	--ion-color-base-rgb: var(--ion-color-vendorposlog-rgb);
	--ion-color-contrast: var(--ion-color-vendorposlog-contrast);
	--ion-color-contrast-rgb: var(--ion-color-vendorposlog-contrast-rgb);
	--ion-color-shade: var(--ion-color-vendorposlog-shade);
	--ion-color-tint: var(--ion-color-vendorposlog-tint);
}