<ion-content>
	<ion-row>
		<img src="../../assets/icon/logo-poslogistik-logo.png" class="logo-login">
		<ion-col size="12">
			<ion-item lines="full">
				<ion-label style="color: black;" position="floating">Email</ion-label>
				<ion-input type="email" [(ngModel)]="DataStorage.email"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="12">
			<ion-item lines="full">
				<ion-label style="color: black;" position="floating">Password</ion-label>
				<ion-input type="password" [(ngModel)]="DataStorage.password"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="12">
			<p class="forgotpass-text">Forgot Password ?</p>
		</ion-col>
		<ion-col size="12">
			<ion-button expand="block" mode="ios" color="vendorposlog" (click)="Login()">Sign In</ion-button>
		</ion-col>
		<ion-col size="12">
			<p class="signup-text">New Account ? <a (click)="Regiter()" class="a-default"><b>Sign Up</b></a></p>
		</ion-col>
	</ion-row>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-toolbar>
		<ion-title style="font-size: 10px; text-align: center;">
			Copyright &copy; PT Pos Logistik Indonesia<br>
			2020
		</ion-title>
	</ion-toolbar>
</ion-footer>